<section class="articles">
  <div class="container">
    <div class="articles__head">
      <div class="articles__head-left">
        <h2 class="articles__head-left-title heading-h2">Articles</h2>
        <p class="articles__head-left-subtitle text-p-medium">
          Complex tech decoded by engineers, business trends analyzed by
          experts.
        </p>
      </div>

      <div class="articles__head-right">
        <button type="button" class="articles-button articles-button-prev">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="14"
            viewBox="0 0 16 14"
            fill="none"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M7.73659 13.0364C7.38512 13.3879 6.81527 13.3879 6.4638 13.0364L1.0638 7.63644C0.712326 7.28497 0.712326 6.71512 1.0638 6.36365L6.4638 0.963652C6.81527 0.612179 7.38512 0.612179 7.73659 0.963652C8.08806 1.31512 8.08806 1.88497 7.73659 2.23644L3.87299 6.10005L14.3002 6.10005C14.7973 6.10005 15.2002 6.50299 15.2002 7.00005C15.2002 7.4971 14.7973 7.90005 14.3002 7.90005L3.87299 7.90005L7.73659 11.7637C8.08806 12.1151 8.08806 12.685 7.73659 13.0364Z"
              fill="black"
            ></path>
          </svg>
        </button>
        <button type="button" class="articles-button articles-button-next">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="14"
            viewBox="0 0 16 14"
            fill="none"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M8.26341 0.963555C8.61488 0.612083 9.18473 0.612083 9.5362 0.963555L14.9362 6.36356C15.2877 6.71503 15.2877 7.28488 14.9362 7.63635L9.5362 13.0363C9.18473 13.3878 8.61488 13.3878 8.26341 13.0363C7.91194 12.6849 7.91194 12.115 8.26341 11.7636L12.127 7.89995L1.69981 7.89995C1.20275 7.89995 0.799805 7.49701 0.799805 6.99995C0.799805 6.5029 1.20275 6.09995 1.69981 6.09995H12.127L8.26341 2.23635C7.91194 1.88488 7.91194 1.31503 8.26341 0.963555Z"
              fill="black"
            ></path>
          </svg>
        </button>
      </div>
    </div>

    <div class="articles__slider swiper">
      <div class="articles__wrapper swiper-wrapper">
        <div class="articles__slide swiper-slide">
          <img
            class="articles__slide-img"
            src="./assets/image/articles-img1.jpg"
            alt=""
          />
          <h3 class="articles__slide-title heading-h5">
            List of UX Designer Portfolio / Case Studies where you can make
            money
          </h3>
          <p class="articles__slide-text text-p-medium">
            Here are some portfolios / Case Studies from UX Designers that you
            can use as a reference for creating a portfolio. Two interesting
            things from their portfolio are:
          </p>
          <div class="articles__slide-wrapper">
            <button class="articles__slide-btn text-p-default">
              Read More
            </button>
          </div>
        </div>
        <div class="articles__slide swiper-slide">
          <img
            class="articles__slide-img"
            src="./assets/image/articles-img2.jpg"
            alt=""
          />
          <h3 class="articles__slide-title heading-h5">
            Skyrocketing in The Designing Career, Why Not?
          </h3>
          <p class="articles__slide-text text-p-medium">
            Ever thought of jumping into the world of design as a career? If
            not, you may want to look at what the word ‘design’ actually means.
            Design is a method of designing aesthetic actions that are carried
            out.
          </p>
          <div class="articles__slide-wrapper">
            <button class="articles__slide-btn text-p-default">
              Read More
            </button>
          </div>
        </div>
        <div class="articles__slide swiper-slide">
          <img
            class="articles__slide-img"
            src="./assets/image/articles-img3.jpg"
            alt=""
          />
          <h3 class="articles__slide-title heading-h5">
            Elements that may be missed when designing the UI
          </h3>
          <p class="articles__slide-text text-p-medium">
            This is an article that talks about the little elements that are
            often overlooked when designing UI.
          </p>
          <div class="articles__slide-wrapper">
            <button class="articles__slide-btn text-p-default">
              Read More
            </button>
          </div>
        </div>
        <div class="articles__slide swiper-slide">
          <img
            class="articles__slide-img"
            src="./assets/image/articles-img1.jpg"
            alt=""
          />
          <h3 class="articles__slide-title heading-h5">
            List of UX Designer Portfolio / Case Studies where you can make
            money
          </h3>
          <p class="articles__slide-text text-p-medium">
            Here are some portfolios / Case Studies from UX Designers that you
            can use as a reference for creating a portfolio. Two interesting
            things from their portfolio are:
          </p>
          <div class="articles__slide-wrapper">
            <button class="articles__slide-btn text-p-default">
              Read More
            </button>
          </div>
        </div>
        <div class="articles__slide swiper-slide">
          <img
            class="articles__slide-img"
            src="./assets/image/articles-img2.jpg"
            alt=""
          />
          <h3 class="articles__slide-title heading-h5">
            Skyrocketing in The Designing Career, Why Not?
          </h3>
          <p class="articles__slide-text text-p-medium">
            Ever thought of jumping into the world of design as a career? If
            not, you may want to look at what the word ‘design’ actually means.
            Design is a method of designing aesthetic actions that are carried
            out.
          </p>
          <div class="articles__slide-wrapper">
            <button class="articles__slide-btn text-p-default">
              Read More
            </button>
          </div>
        </div>
        <div class="articles__slide swiper-slide">
          <img
            class="articles__slide-img"
            src="./assets/image/articles-img3.jpg"
            alt=""
          />
          <h3 class="articles__slide-title heading-h5">
            Elements that may be missed when designing the UI
          </h3>
          <p class="articles__slide-text text-p-medium">
            This is an article that talks about the little elements that are
            often overlooked when designing UI.
          </p>
          <div class="articles__slide-wrapper">
            <button class="articles__slide-btn text-p-default">
              Read More
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
