<section class="hero hero-decor">
  <div class="container hero__container">
    <h1 class="hero__title heading-h1">Activity & Updates</h1>
    <p class="hero__subtitle heading-h5 text-p-subtitle">
      Our biggest challenge is making sure we're <br />
      always designing and building products that <br />
      will help you run your business better.
    </p>

    <div class="hero__info">
      <ul class="hero__info-list">
        <li class="hero__info-item">
          <a class="hero__info-link text-p-default" href="#">View all</a>
        </li>
        <li class="hero__info-item">
          <a class="hero__info-link text-p-default" href="#">Design</a>
        </li>
        <li class="hero__info-item">
          <a class="hero__info-link text-p-default" href="#">Articles</a>
        </li>
        <li class="hero__info-item">
          <a class="hero__info-link text-p-default" href="#">Product</a>
        </li>
        <li class="hero__info-item">
          <a class="hero__info-link text-p-default" href="#"
            >Software Development</a
          >
        </li>
        <li class="hero__info-item">
          <a class="hero__info-link text-p-default" href="#"
            >Customer Success</a
          >
        </li>
      </ul>
    </div>
  </div>

  <div class="container">
    <div class="hero__slider swiper">
      <div class="hero__wrapper swiper-wrapper">
        <div class="hero__slide swiper-slide">
          <div class="hero__slide-image">
            <img
              loading="lazy"
              class="hero__slide-img"
              width="515"
              height="428"
              src="./assets/image/hero-slide1.jpg"
              alt=""
            />
          </div>
          <p class="hero__slide-date text-p-small">
            Published in Insight Jan 30, 2021
          </p>
          <h3 class="hero__slide-title heading-h5">
            Practice making User Flow
          </h3>
          <p class="hero__slide-subtitle">
            In this article, we'll cover how to create user flows
          </p>
        </div>
        <div class="hero__slide swiper-slide">
          <div class="hero__slide-image">
            <img
              loading="lazy"
              class="hero__slide-img"
              width="515"
              height="428"
              src="./assets/image/hero-slide2.jpg"
              alt=""
            />
          </div>
          <p class="hero__slide-date text-p-small">
            Published in Insight Jan 30, 2021
          </p>
          <h3 class="hero__slide-title heading-h5">
            Overview of the Design Principles
          </h3>
          <p class="hero__slide-subtitle">
            What are Design Principles?… To understand design principles, we
            first discuss the principles.
          </p>
        </div>
        <div class="hero__slide swiper-slide">
          <div class="hero__slide-image">
            <img
              loading="lazy"
              class="hero__slide-img"
              width="515"
              height="428"
              src="./assets/image/hero-slide1.jpg"
              alt=""
            />
          </div>
          <p class="hero__slide-date text-p-small">
            Published in Insight Jan 30, 2021
          </p>
          <h3 class="hero__slide-title heading-h5">
            Practice making User Flow
          </h3>
          <p class="hero__slide-subtitle">
            In this article, we'll cover how to create user flows
          </p>
        </div>
        <div class="hero__slide swiper-slide">
          <div class="hero__slide-image">
            <img
              loading="lazy"
              class="hero__slide-img"
              width="515"
              height="428"
              src="./assets/image/hero-slide2.jpg"
              alt=""
            />
          </div>
          <p class="hero__slide-date text-p-small">
            Published in Insight Jan 30, 2021
          </p>
          <h3 class="hero__slide-title heading-h5">
            Overview of the Design Principles
          </h3>
          <p class="hero__slide-subtitle">
            What are Design Principles?… To understand design principles, we
            first discuss the principles.
          </p>
        </div>
        <div class="hero__slide swiper-slide">
          <div class="hero__slide-image">
            <img
              loading="lazy"
              class="hero__slide-img"
              width="515"
              height="428"
              src="./assets/image/hero-slide1.jpg"
              alt=""
            />
          </div>
          <p class="hero__slide-date text-p-small">
            Published in Insight Jan 30, 2021
          </p>
          <h3 class="hero__slide-title heading-h5">
            Practice making User Flow
          </h3>
          <p class="hero__slide-subtitle">
            In this article, we'll cover how to create user flows
          </p>
        </div>
        <div class="hero__slide swiper-slide">
          <div class="hero__slide-image">
            <img
              loading="lazy"
              class="hero__slide-img"
              width="515"
              height="428"
              src="./assets/image/hero-slide2.jpg"
              alt=""
            />
          </div>
          <p class="hero__slide-date text-p-small">
            Published in Insight Jan 30, 2021
          </p>
          <h3 class="hero__slide-title heading-h5">
            Overview of the Design Principles
          </h3>
          <p class="hero__slide-subtitle">
            What are Design Principles?… To understand design principles, we
            first discuss the principles.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
