<section class="info">
  <div class="container info__container">
    <div class="info__left">
      <div class="info__left-item1">
        <img
          class="info__left-item1-img"
          src="./assets/image/info-img1.jpg"
          alt=""
        />
        <h3 class="info__left-item1-title heading-h3">
          How we perform long-running tasks using AWS services
        </h3>
        <p class="info__left-item1-text text-p-medium">
          Webflow is web design tool as well as a hosting platform and CMS all
          in one. While you are probably familiar with all of these, they are
          usually entirely separate tools.
        </p>
      </div>

      <div class="info__left-item2">
        <img
          class="info__left-item2-img"
          src="./assets/image/info-img2.jpg"
          alt=""
        />
        <h3 class="info__left-item2-title heading-h3">
          Layout Exploration — Simple exercise but big effect
        </h3>
        <p class="info__left-item2-text text-p-medium">
          Make alternatives or other options for the design we are making. For
          example, we are creating a website design. Then there is the
          testimonial section.
        </p>
      </div>
    </div>

    <div class="info__right">
      <div class="info__right-item3">
        <img
          class="info__right-item3-img"
          src="./assets/image/info-img3.jpg"
          alt=""
        />
        <h3 class="info__right-item3-title heading-h3">
          How we perform long-running tasks using AWS services
        </h3>
        <p class="info__right-item3-text text-p-medium">
          Webflow is web design tool as well as a hosting platform and CMS all
          in one. While you are probably familiar with all of these, they are
          usually entirely separate tools.
        </p>
      </div>

      <div class="info__right-item4">
        <img
          class="info__right-item4-img"
          src="./assets/image/info-img4.jpg"
          alt=""
        />
        <h3 class="info__right-item4-title heading-h3">
          Layout Exploration — Simple exercise but big effect
        </h3>
        <p class="info__right-item4-text text-p-medium">
          Make alternatives or other options for the design we are making. For
          example, we are creating a website design. Then there is the
          testimonial section.
        </p>
      </div>
    </div>
  </div>
</section>
