<sections class="partners">
  <div class="partners__container container">
    <h2 class="partners__title text-p-medium">
      <span class="partners__title-num heading-h2">890+</span>some big companies
      that we work with, and trust us very much
    </h2>

    <ul class="partners__list">
      <li class="partners__item">
        <img
          loading="lazy"
          src="./assets/icons/partners-icon1.svg"
          width="97"
          height="30"
          alt="Airbnb"
        />
      </li>
      <li class="partners__item">
        <img
          loading="lazy"
          src="./assets/icons/partners-icon2.svg"
          width="97"
          height="30"
          alt="Amazon"
        />
      </li>
      <li class="partners__item">
        <img
          loading="lazy"
          src="./assets/icons/partners-icon3.svg"
          width="96"
          height="30"
          alt="FedEX"
        />
      </li>
      <li class="partners__item">
        <img
          loading="lazy"
          src="./assets/icons/partners-icon4.svg"
          width="116"
          height="26"
          alt="Microsoft"
        />
      </li>
      <li class="partners__item">
        <img
          loading="lazy"
          src="./assets/icons/partners-icon5.svg"
          width="91"
          height="30"
          alt="Google"
        />
      </li>
      <li class="partners__item">
        <img
          loading="lazy"
          src="./assets/icons/partners-icon6.svg"
          width="94"
          height="32"
          alt="OLA"
        />
      </li>
      <li class="partners__item">
        <img
          loading="lazy"
          src="./assets/icons/partners-icon7.svg"
          width="114"
          height="28"
          alt="Walmart"
        />
      </li>
      <li class="partners__item">
        <img
          loading="lazy"
          src="./assets/icons/partners-icon8.svg"
          width="80"
          height="28"
          alt="OYO"
        />
      </li>
    </ul>
  </div>
</sections>
