<section class="hero">
  <div class="container hero__container">
    <h1 class="hero__title heading-h1">
      Everything you need to get the attention of your audience
    </h1>

    <div class="hero__subtitle">
      <h3 class="hero__subtitle-text heading-h5 text-p-subtitle">
        Our digital agency helps clients develop, <br />
        implement and maintain successful digital <br />
        marketing strategies across all channels. Also <br />
        work with you to build your website and create <br />
        online businesses that grow.
      </h3>

      <img
        src="./assets/icons/path-group.svg"
        alt=""
        class="hero__subtitle-icon"
        width="162"
        height="162"
      />
    </div>

    <div class="hero__slider swiper">
      <div class="hero__wrapper swiper-wrapper">
        <div class="hero__slide hero__slide--first swiper-slide">
          <img
            class="hero__slide-img"
            src="./assets/image/team-hero1.jpg"
            alt=""
            loading="lazy"
          />
        </div>
        <div class="hero__slide swiper-slide">
          <img
            src="./assets/image/team-hero2.jpg"
            alt=""
            class="hero__slide-img hero__slide-img--text"
            loading="lazy"
          />
          <p class="hero__slide-text text-p-medium">
            Over the years at Sans, we’ve put a lot of thought into what it is
            that makes us who we are. The qualities that unite us, that make us
            such an effective team, and...
          </p>
          <button class="hero__slide-btn text-p-default">See Details -></button>
        </div>
        <div class="hero__slide swiper-slide">
          <img
            class="hero__slide-img"
            src="./assets/image/team-hero3.jpg"
            alt=""
            loading="lazy"
          />
        </div>
        <div class="hero__slide hero__slide--first swiper-slide">
          <img
            class="hero__slide-img"
            src="./assets/image/team-hero1.jpg"
            alt=""
          />
        </div>
        <div class="hero__slide swiper-slide">
          <img
            src="./assets/image/team-hero2.jpg"
            alt=""
            class="hero__slide-img hero__slide-img--text"
            loading="lazy"
          />
          <p class="hero__slide-text text-p-medium">
            Over the years at Sans, we’ve put a lot of thought into what it is
            that makes us who we are. The qualities that unite us, that make us
            such an effective team, and...
          </p>
          <button class="hero__slide-btn text-p-default">See Details -></button>
        </div>
        <div class="hero__slide swiper-slide">
          <img
            class="hero__slide-img"
            src="./assets/image/team-hero3.jpg"
            alt=""
            loading="lazy"
          />
        </div>
      </div>
      <div class="hero__scrollbar swiper-scrollbar"></div>
    </div>
  </div>
</section>
