<section class="workers">
  <div class="container workers__container">
    <h2 class="workers__title heading-h2">
      Meet our team of creators, designers, and world-class problem solvers
    </h2>
    <p class="workers__descr text-p-medium">
      To become the company that customers want, it takes a group of passionate
      people. Get to know the people who lead
    </p>

    <div class="swiper workers__slider">
      <div class="swiper-wrapper workers__wrapper">
        <div class="swiper-slide workers__slide">
          <img
            src="./assets/image/workers1.jpg"
            alt=""
            class="workers__slide-img"
            loading="lazy"
          />
          <p class="workers__slide-position text-p-medium">Founder & CEO</p>
        </div>
        <div class="swiper-slide workers__slide">
          <img
            src="./assets/image/workers2.jpg"
            alt=""
            class="workers__slide-img"
            loading="lazy"
          />
          <p class="workers__slide-position text-p-medium">
            Chief Technology Officer
          </p>
        </div>
        <div class="swiper-slide workers__slide">
          <img
            src="./assets/image/workers3.jpg"
            alt=""
            class="workers__slide-img"
            loading="lazy"
          />
          <p class="workers__slide-position text-p-medium">
            Chief Technology Officer
          </p>
        </div>
        <div class="swiper-slide workers__slide">
          <img
            src="./assets/image/workers1.jpg"
            alt=""
            class="workers__slide-img"
            loading="lazy"
          />
          <p class="workers__slide-position text-p-medium">Founder & CEO</p>
        </div>
        <div class="swiper-slide workers__slide">
          <img
            src="./assets/image/workers2.jpg"
            alt=""
            class="workers__slide-img"
            loading="lazy"
          />
          <p class="workers__slide-position text-p-medium">
            Chief Technology Officer
          </p>
        </div>
        <div class="swiper-slide workers__slide">
          <img
            src="./assets/image/workers3.jpg"
            alt=""
            class="workers__slide-img"
            loading="lazy"
          />
          <p class="workers__slide-position text-p-medium">
            Chief Technology Officer
          </p>
        </div>
      </div>
    </div>

    <div class="workers__bottom">
        <h3 class="workers__bottom-title heading-h2">
          Join our team, The one with the master touch
        </h3>
        <p class="workers__bottom-descr text-p-medium">
          We believe it takes great people to make a great product. That’s why we
          hire not only the perfect professional fits, but people who embody our
          company values.
        </p>
    </div>
  </div>
</section>
