<section class="insight">
  <div class="insight__container container">
    <h2 class="insight__title heading-h2">Trending news from Coca</h2>
    <p class="insight__descr text-p-medium">
      we have some new Service to pamper you
    </p>

    <div class="insight__article-nav">
      <button class="insight__article-button-prev" type="button">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="14"
          viewBox="0 0 16 14"
          fill="none"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M7.73659 13.0364C7.38512 13.3879 6.81527 13.3879 6.4638 13.0364L1.0638 7.63644C0.712326 7.28497 0.712326 6.71512 1.0638 6.36365L6.4638 0.963652C6.81527 0.612179 7.38512 0.612179 7.73659 0.963652C8.08806 1.31512 8.08806 1.88497 7.73659 2.23644L3.87299 6.10005L14.3002 6.10005C14.7973 6.10005 15.2002 6.50299 15.2002 7.00005C15.2002 7.4971 14.7973 7.90005 14.3002 7.90005L3.87299 7.90005L7.73659 11.7637C8.08806 12.1151 8.08806 12.685 7.73659 13.0364Z"
            fill="black"
          />
        </svg>
      </button>
      <button class="insight__article-button-next" type="button">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="14"
          viewBox="0 0 16 14"
          fill="none"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M8.26341 0.963555C8.61488 0.612083 9.18473 0.612083 9.5362 0.963555L14.9362 6.36356C15.2877 6.71503 15.2877 7.28488 14.9362 7.63635L9.5362 13.0363C9.18473 13.3878 8.61488 13.3878 8.26341 13.0363C7.91194 12.6849 7.91194 12.115 8.26341 11.7636L12.127 7.89995L1.69981 7.89995C1.20275 7.89995 0.799805 7.49701 0.799805 6.99995C0.799805 6.5029 1.20275 6.09995 1.69981 6.09995H12.127L8.26341 2.23635C7.91194 1.88488 7.91194 1.31503 8.26341 0.963555Z"
            fill="black"
          />
        </svg>
      </button>
    </div>

    <div class="swiper insight__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide insight__article">
          <img
            class="insight__article-img"
            loading="lazy"
            src="./assets/image/insight-slide1.jpg"
            width="582"
            height="332"
            alt="People with laptop (typing)"
          />
          <div class="insight__article-head text-p-small">
            <div class="insight__article-date">
              Published in Insight
              <time datetime="2024-01-30">Jan 30, 2024</time>
            </div>
            <address class="insight__article-author">by : Albert Sans</address>
          </div>
          <h3 class="insight__article-title heading-h5">
            What makes an authentic employee profile, and why does it matter ?
          </h3>
        </div>

        <div class="swiper-slide insight__article">
          <img
            class="insight__article-img"
            loading="lazy"
            src="./assets/image/insight-slide2.jpg"
            width="582"
            height="332"
            alt="People with laptop (typing)"
          />
          <div class="insight__article-head text-p-small">
            <div class="insight__article-date">
              Published in Insight
              <time datetime="2024-01-30">Jan 30, 2024</time>
            </div>
            <address class="insight__article-author">by : Albert Sans</address>
          </div>
          <h3 class="insight__article-title heading-h5">
            How to build a Kaylen relationship with a good company
          </h3>
        </div>

        <div class="swiper-slide insight__article">
          <img
            class="insight__article-img"
            loading="lazy"
            src="./assets/image/insight-slide1.jpg"
            width="582"
            height="332"
            alt="People with laptop (typing)"
          />
          <div class="insight__article-head text-p-small">
            <div class="insight__article-date">
              Published in Insight
              <time datetime="2024-01-30">Jan 30, 2024</time>
            </div>
            <address class="insight__article-author">by : Albert Sans</address>
          </div>
          <h3 class="insight__article-title heading-h5">
            What makes an authentic employee profile, and why does it matter ?
          </h3>
        </div>
        <div class="swiper-slide insight__article">
          <img
            class="insight__article-img"
            loading="lazy"
            src="./assets/image/insight-slide2.jpg"
            width="582"
            height="332"
            alt="People with laptop (typing)"
          />
          <div class="insight__article-head text-p-small">
            <div class="insight__article-date">
              Published in Insight
              <time datetime="2024-01-30">Jan 30, 2024</time>
            </div>
            <address class="insight__article-author">by : Albert Sans</address>
          </div>
          <h3 class="insight__article-title heading-h5">
            What makes an authentic employee profile, and why does it matter ?
          </h3>
        </div>
      </div>
    </div>
  </div>
</section>
